html {
  height:100%;
}
body {
  display: flex;  /* setting "display: flex" allows its children (e.g. "main" below) to use the "flex" property */
  flex-direction: column;
  padding-top: 56px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
  min-height: 100vh;  /* i.e minimum width is 100% of the "viewport height"... i.e the full screen height */
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  /* font-weight:600; */
}
/* width */
body::-webkit-scrollbar   {
  width:20px;
  height:20px;

 
}

/* Track/background */
body::-webkit-scrollbar-track {
  background: white;
}
 
/* Handle */
body::-webkit-scrollbar-thumb:vertical {
  background: #FEC8C1; 
  border: 8px white solid;
  border-radius: 50vh; 
}

body::-webkit-scrollbar-thumb:horizontal {
  background: #FEC8C1; 
  border: 8px white solid;
  border-radius: 50vh; 
  
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #FE9C8F; 
  
 
}


main {
  flex: 1;  /* makes the <main> grow (we want it to grow so that it pushes <footer> to the bottom of page)*/
}

.hero {
  color:black;
  background-image: url("images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
  opacity: 0.65;
  padding-top:21vh;
} 

.container {
  padding-top: 60px;
  padding-bottom: 30px;

}

hr {
  /* add some fancy styling to the horizontal lines */
  width: 75%;
  border: 1.5px solid #ddd;
  border-radius: 50%;
}
.header1 {
  margin:70px 0 0 0;
  text-align:center;
}
.header1 p {
  font-style: italic;
  font-size:medium;
  margin-top:20px;

}

/* gallery */
section{
  margin: 120px 100px 100px 100px;
  
  
  
}
.container-fluid {
  max-width:1100px;
  
}


.card {
  border: 1px solid #ebebeb;
  margin: 10px 5px 10px 5px;
  /*transition: .6s ease; */

}

.card:hover {
  transform: scale(1.01);
}

.card-block{
   padding: 15px;
   overflow-y: scroll;
   white-space: normal;
   -moz-white-space: normal;
   height:100px;
   margin-top:10px;
   
  /*word-break does not work but white-space works on chrome*/
 
}


.scrollcards {
  overflow: auto;
  white-space: nowrap;
  

}
/* width */
.scrollcards::-webkit-scrollbar {
  width:20px;
  height:20px;
 
}

/* Track/background */
.scrollcards::-webkit-scrollbar-track {
  background: white;
  
  
  
}
 
/* Handle */
.scrollcards::-webkit-scrollbar-thumb {
  background: #FEC8C1; 
  border: 8px white solid;
  border-radius: 50vh; 
  

}

/* Handle on hover */
.scrollcards::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 145, 145); 
  
 
}

/*-------------------------*/
/* for mini cards width */
.card-block::-webkit-scrollbar {
  width:20px;
  height:20px;
  
}

/* Track/background */
.card-block::-webkit-scrollbar-track {
  background: white; 
  margin-top:20px;
 
  
}
 
/* Handle */
.card-block::-webkit-scrollbar-thumb {
  background: #FEC8C1; 
  border: 8px white solid;
  border-radius: 50vh; 

}

/* Handle on hover */
.card-block::-webkit-scrollbar-thumb:hover {
  background: #FE9C8F; 
}

div.scrollcards .card {
    display: inline-block;
    padding: 16px 15px 15px 18px;
    text-decoration: none;
    height: 410px; 
    width: 300px; /* width of cards */
    
}
div.scrollcards .card img {
  display: inline-block;
  height: auto; 
  width: 263px; /*width of card images, should align with scroll bar*/
  
}
/*----------END MENU CAROUSEL-----------------*/

/*---------OUR SPECIALITIES------------*/
.specialities-container{
 height:500px;
 width:100%;
 left:6%;
 position:relative;
 margin-bottom:0%;
 margin-top:5%;
 /* background: red; */
}
.specialities-boxes{
  width:40%;
  height:40%;
  float:left; 
  top:0;
  margin:10px;  
 
}
.specialities-boxes h1{
  padding-top:19%;
  padding-left:25%;
  margin-right:30%;
  float:center;
  white-space: normal; 
  -moz-white-space: normal;
  text-align:left;
  font-size:8vh;
  font-style: italic; 
  font-family: 'Montserrat', sans-serif;
  
  
}
.specialities-text {
  
  float:center;
  white-space: normal;
  -moz-white-space: normal;
  text-align: center;
 /*  background-color: grey;  */
 
}
.specialities-text p{
  margin-top:25%;
  padding-left:80px;
  padding-right:40px;

  
  
}

.specialities-text img {
  height:50%; width:50%;
  
  float:center;
  text-align:center;
  min-height:200px;
  min-width:200px;
} */



/*----------FOOTER START-----------------*/
footer {
  display: flex;  /* allows use of "justify-content" property */
  justify-content: center;  /* horizontally centers the contents (the social icons) */
  background-color: #F9F9F9;
  height: 500px;
  padding: 30px;
  border-top: #FEC8C1
}

footer p {
  margin: 30px;
  text-decoration: none!important;
  font-size:10px;
  font-weight:bold;
}


#go-top-button {
  width: 50px;
  height: 50px;

  display: none;  /* Hidden by default */
  position: fixed;  /* Fixed/sticky position */
  bottom: 30px;  /* Place the button 20px from the bottom of the page */
  right: 10px;  /* Place the button 30px from the right */
  z-index: 99;  /* Make sure it does not overlap */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
  background-color:#FEB2A8;
  border: #FEB2A8;
  opacity:0.70;
}
